header {
  background-color: rgb(19, 25, 33);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 100;
  padding: 10px 20px;
}

@scope (header) {
  .header-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header-middle {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    margin: 0px 20px;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  @scope (.header-middle) {
    input {
      height: 40px;
      font-size: 16px;
      flex: 1 1 0%;
      padding: 10px;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 4px 0px 0px 4px;
    }
    button {
      width: 45px;
      height: 40px;
      background-color: rgb(254, 189, 105);
      cursor: pointer;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 0px 4px 4px 0px;
      transition: all 0.3s ease;

      &:hover {
        background-color: color-mix(in hsl, rgb(254, 189, 105), black 20%);
      }
    }
  }

  @scope (.header-right) {
    .cart {
      position: relative;
      font-size: 24px;
    }
    .cart-count {
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: rgb(240, 136, 4);
      color: black;
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 50%;
    }
  }
}

@scope (.logo) {
  img {
    width: 100px;
    object-fit: contain;
    margin-top: 10px;
  }
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
}

@scope (.nav-item) {
  span {
    font-size: 12px;
    color: rgb(204, 204, 204);
  }
  h3 {
    font-size: 0.9rem;
  }
}

.app {
  width: 85%;
  background-color: #333;
  margin: 0 auto;
}

.hero {
  position: relative;
  height: 300px;
  margin-bottom: 30px;
  overflow: hidden;
  background: rgb(245, 245, 245);
}

@scope (.hero) {
  .carousel-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  @scope (.carousel-container) {
    a {
      width: 100%;
      position: absolute;
      height: 100%;
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
    background: rgba(255, 255, 255, 0.8);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 50%;
    transition: 0.3s;
  }

  .prev-btn {
    left: 20px;
  }

  .next-btn {
    right: 20px;
  }
}
