header {
  background-color: rgb(19, 25, 33);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 100;
  padding: 10px 20px;
}

@scope (header) {
  .header-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header-middle {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    margin: 0px 20px;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  @scope (.header-middle) {
    input {
      height: 40px;
      font-size: 16px;
      flex: 1 1 0%;
      padding: 10px;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 4px 0px 0px 4px;
    }
    button {
      width: 45px;
      height: 40px;
      background-color: rgb(254, 189, 105);
      cursor: pointer;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 0px 4px 4px 0px;
      transition: all 0.3s ease;

      &:hover {
        background-color: color-mix(in hsl, rgb(254, 189, 105), black 20%);
      }
    }
  }

  @scope (.header-right) {
    .cart {
      position: relative;
      font-size: 24px;
    }
    .cart-count {
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: rgb(240, 136, 4);
      color: black;
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 50%;
    }
  }

  .clean-links {
    text-decoration: none;
    color: rgb(204, 204, 204);
  }
}

@scope (.logo) {
  img {
    width: 100px;
    object-fit: contain;
    margin-top: 10px;
  }
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
}

@scope (.nav-item) {
  span {
    font-size: 12px;
    color: rgb(204, 204, 204);
  }
  h3 {
    font-size: 0.9rem;
  }
}

.app {
  width: 85%;
  /* background-color: #333; */
  margin: 0 auto;
}

.hero {
  position: relative;
  height: 300px;
  margin-bottom: 30px;
  overflow: hidden;
  background: rgb(245, 245, 245);
}

@scope (.hero) {
  .carousel-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  @scope (.carousel-container) {
    a {
      width: 100%;
      position: absolute;
      height: 100%;
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
    background: rgba(255, 255, 255, 0.8);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 50%;
    transition: 0.3s;
  }

  .prev-btn {
    left: 20px;
  }

  .next-btn {
    right: 20px;
  }
}

.products-grid {
  /* max-width: 1200px; */
  display: grid;
  /* background-color: red; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 0px auto;
  padding: 20px;
  gap: 20px;
}

@scope (.products-grid) {
  .product-card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s;
  }

  @scope (.product-card) {
    .product-image {
      width: 100%;
      height: 200px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .product-image img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    }

    &:hover .product-image img {
      transform: scale(1.05);
    }

    .product-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 10px 0px;
    }

    @scope (.product-info) {
      .product-title {
        font-size: 16px;
        margin-bottom: 10px;
        color: rgb(15, 17, 17);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-wrap: balance;
      }

      .prime {
        color: rgb(0, 168, 225);
        font-size: 4rem;
      }

      .quantity-selector {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 8px;
      }
      @scope (.quantity-selector) {
        .quantity-select {
          background-color: rgb(240, 242, 242);
          cursor: pointer;
          font-size: 14px;
          min-width: 60px;
          padding: 4px 8px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(221, 221, 221);
          border-image: initial;
          border-radius: 8px;
          outline: none;
          transition: 0.2s;
        }
      }

      .buy-button {
        margin-top: 15px;
        width: 100%;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        color: rgb(17, 17, 17);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
        padding: 8px 16px;
        background: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
        border-width: 1px;
        border-style: solid;
        border-color: rgb(168, 135, 52);
        border-image: initial;
        border-radius: 4px;
        transition: 0.2s;
      }
    }
  }
}

/* for animation */
/* From Uiverse.io by mobinkakei */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
